:root {
    --primary-color: #003566;
    --secondary-color: #001D3DCC;
}

#site-header {
    background-color: var(--secondary-color);
    backdrop-filter: blur(8px);
}

#donation-counter{
    color: var(--bs-primary)
}