:root {
    --primary-color: #003566;
    --secondary-color: #001D3DCC;
    --accent-color: #FFC300;
}

body{
    background-color: var(--primary-color);
    color: #fff;
}

#site-header {
    background-color: var(--secondary-color);
    backdrop-filter: blur(8px);
}

#donation-counter{
    color: var(--accent-color)
}

.horizontal-divider{
    width: 300px;
    height: 2px;
    background-color: var(--accent-color)
}

.bg-dark{
    background-color: var(--secondary-color) !important;
}